[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djongo = "*"
pymongo = "==3.12.3"
pillow = "*"
django-environ = "*"
djoser = "*"
django-storages = {extras = ["dropbox"], version = "*"}
boto3 = "*"
gunicorn = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.10"
